
<div  *ngIf="this.id != null">
<app-chef></app-chef>

<div style="align-items: center;">

    <div class="row">
      <div class="col-md-2 ml-5 mt-5">
      </div>
    </div>
    
    <div class="row">
                
        <div class="col-md-7 mx-auto" style="margin-top: 50px;">
          <h4 style="text-align: center;margin-bottom: 50px;;">Les lignes de commandes</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ligne de command</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Nom de produit</th>
                    <th scope="col">Prix Unitaire</th>
                  </tr>
                </thead>
                <tbody>
                   
                  <tr *ngFor="let lcmd of lcmds | async">
                        <th>{{lcmd.id}}</th>
                        <td>{{lcmd.qt}}</td>
                        <td > {{lcmd.produit.name}}</td>
                        <td > {{lcmd.produit.price}}</td>
                    </tr> 
                </tbody>
                </table>
        </div>
    </div>
    </div></div>

    <div [hidden]="!submitted" class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert">
            Veuillez s'authentifier sur ce lien  <a href="/login">lien</a>
          </div>
        </div>
      </div>
    </div>